
@model  IEnumerable<RestaurantRaterWebApp.Models.Restaurant>
        


@{
    ViewBag.Title = "Restaurants"; // viewbag will be used in most of our models. They are dynamic dictionaries. 
}

<h2>List of Restaurant</h2>

<p>
    @Html.ActionLink("Rate a Restaurant", "Create")

</p>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
            {
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.Name)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.Address)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.Rating)
                   </td>
                   <td>
                       @Html.ActionLink("Change", "Edit", new { id = item.RestaurantID }) <!-- last part is the route value -->
                       @Html.ActionLink("More Info", "Details", new { id = item.RestaurantID }) <!-- last part is the route value -->
                       @Html.ActionLink("Remove", "Delete", new { id = item.RestaurantID }) <!-- last part is the route value -->
                   </td>
               </tr>
            }

</table>